# Filetypes
*.png
*.jpg
*.exe

# Files
ICO/1002495_Stage1_2122511010_4998845985.pdf
ICO/ZIO Registration.txt
ICO/ZIO2097867-admit-card.pdf

# Folders
Other Contests/HPE Codewars India 2021/
Other Contests/HPE Codewars India 2022/
ICO/Notes
