# Filetypes
*.png
*.jpg
*.exe

# Build files
*.testcases
*.exe
**/a.out
build/
**/CompetiTest*

# Files
ICO/1002495_Stage1_2122511010_4998845985.pdf
ICO/ZIO Registration.txt
ICO/ZIO2097867-admit-card.pdf
ICO/Ticket(s)_For_Zonal_Informatics_Olympiad_2023_(ZIO-2023).pdf
ICO/Ticket(s)_For_Zonal_Computing_Olympiad_-_ZCO-2023_.pdf
ICO/ICO-2023/Siddhant_Attavar-silver-medal-INOI-2023.pdf
Meta-Hacker-Cup/2024/Round-1/certificate.pdf
Meta-Hacker-Cup/2024/Round-2/certificate.pdf

# Folders
Other Contests/HPE Codewars India 2021/
Other Contests/HPE Codewars India 2022/
Other Contests/HPE Codewars India 2023/
ICO/Notes
